@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;400&display=swap');

body {
  font-size: 18px;
  font-family: "Sarabun", sans-serif;
  margin: 25px;
}

.keep-together {
  page-break-inside: avoid;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}

h1, h2 {
    font-size: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

td {
  font-weight: 200;
}
